### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
total_schools = len(school_data_complete["school_name"].unique())
# print(total_schools)

total_budget = school_data_complete["budget"].unique().sum()
# (total_budget)

total_students = school_data_complete["student_name"].count()
# print(total_students)

average_math = school_data_complete["math_score"].mean()
# print(average_math)

average_reading = school_data_complete["reading_score"].mean()
# print(average_reading)

math_passing_df = school_data_complete.loc[school_data_complete["math_score"] >= 70,:]
math_passing_count = math_passing_df["math_score"].count()
math_passing = math_passing_count/total_students*100
# print(math_passing)

reading_passing_df = school_data_complete.loc[school_data_complete["reading_score"] >= 70,:]
reading_passing_count = reading_passing_df["reading_score"].count()
reading_passing = reading_passing_count/total_students*100
# print(reading_passing)

passing_df = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70),:]
passing_count = passing_df["reading_score"].count()
passing = passing_count/total_students*10
# passing_df

In [6]:
district_summary = pd.DataFrame({"Total Schools":[total_schools],"Total Students":total_students,
                                "Total Budget":total_budget,"Average Math Score":average_math,
                                "Average Reading Score":average_reading, "% Passing Math":math_passing,
                                "% Passing Reading": reading_passing, "% Overall Passing":passing})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985371,81.87784,74.980853,85.805463,6.517233

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [7]:
schools = school_data_complete.groupby(["school_name"])

school_type = schools["type"].unique()
school_type = school_type.str[0]
# print(school_type)

student_count = schools["reading_score"].count()
# print(student_count)

school_budget = schools["budget"].unique()
school_budget = school_budget.str[0]
# print(school_budget)

budget_per = school_budget/student_count
# print(budget_per)

avg_math_school = schools["math_score"].sum()/student_count
# print(avg_math_school)

avg_reading_school = schools["reading_score"].sum()/student_count
# print(avg_reading_school)

math_passing_gb = math_passing_df.groupby(["school_name"])
math_passing_per = math_passing_gb["math_score"].count()/student_count*100
# print(math_passing_per)

reading_passing_gb = reading_passing_df.groupby(["school_name"])
reading_passing_per = reading_passing_gb["reading_score"].count()/student_count*100
# print(reading_passing_per)

passing_gb = passing_df.groupby(["school_name"])
passing_per = passing_gb["reading_score"].count()/student_count*100
# passing_per

In [9]:
school_summary = pd.DataFrame({"School Type":school_type,"Total Students":student_count,
                                "Total School Budget":school_budget, "Per Student Budget":budget_per,
                               "Average Math Score":avg_math_school,"Average Reading Score":avg_reading_school,
                               "% Passing Math":math_passing_per,"% Passing Reading":reading_passing_per, 
                               "% Overall Passing":passing_per})

school_summary_2 = school_summary
school_summary_2.dtypes

School Type               object
Total Students             int64
Total School Budget        int64
Per Student Budget       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [ ]:
school_summary["Total Students"] = pd.to_numeric(school_summary["Total Students"]).map("{:,}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:.2f}".format)
school_summary

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
top_performing = school_summary.sort_values("% Overall Passing", ascending=False)
top_performing.head()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
bottom_performing = school_summary.sort_values("% Overall Passing", ascending=True)
bottom_performing.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
grade_nine = student_data.loc[(student_data["grade"] == "9th")]
grade_ten = student_data.loc[(student_data["grade"] == "10th")]
grade_eleven = student_data.loc[(student_data["grade"] == "11th")]
grade_twelve = student_data.loc[(student_data["grade"] == "12th")]

grade_nine_math = grade_nine.groupby(["school_name"]).mean()
grade_nine_math_avg = grade_nine_math["math_score"]
#print(grade_nine_math_avg)

grade_ten_math = grade_ten.groupby(["school_name"])
grade_ten_math_avg = grade_ten_math["math_score"].mean()
# print(grade_ten_math_avg)

grade_eleven_math = grade_eleven.groupby(["school_name"])
grade_eleven_math_avg = grade_eleven_math["math_score"].mean()
# print(grade_eleven_math_avg)

grade_twelve_math = grade_twelve.groupby(["school_name"])
grade_twelve_math_avg = grade_twelve_math["math_score"].mean()
# print(grade_twelve_math_avg)

In [ ]:
math_by_grade = pd.DataFrame({"9th":grade_nine_math_avg,"10th":grade_ten_math_avg,
                                "11th":grade_eleven_math_avg, "12th":grade_twelve_math_avg})

math_by_grade

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
grade_nine_reading = grade_nine.groupby(["school_name"]).mean()
grade_nine_reading_avg = grade_nine_reading["reading_score"]

grade_ten_reading = grade_ten.groupby(["school_name"])
grade_ten_reading_avg = grade_ten_reading["reading_score"].mean()

grade_eleven_reading = grade_eleven.groupby(["school_name"])
grade_eleven_reading_avg = grade_eleven_reading["reading_score"].mean()

grade_twelve_reading = grade_twelve.groupby(["school_name"])
grade_twelve_reading_avg = grade_twelve_reading["reading_score"].mean()

In [ ]:
reading_by_grade = pd.DataFrame({"9th":grade_nine_reading_avg,"10th":grade_ten_reading_avg,
                                "11th":grade_eleven_reading_avg, "12th":grade_twelve_reading_avg})

reading_by_grade

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [11]:
bins_spending = [0,600,620,640,660]
group_names_spending = ["less than $600","$600-$620","$620-$640","$640-$660"]

scores_by_spending = school_summary_2[["Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]]
# scores_by_spending = scores_by_spending["Per Student Budget"]
scores_by_spending["Spending Ranges (Per Student)"] = pd.cut(scores_by_spending["Per Student Budget"], bins_spending, labels=group_names_spending, include_lowest=True)
scores_by_spending = scores_by_spending.groupby("Spending Ranges (Per Student)")
scores_by_spending.mean()

C:\Users\SageTeam\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,,
less than $600,584.80,83.436210,83.892196,93.541501,96.459627,90.273988
$600-$620,609.00,83.839917,84.044699,94.594595,95.945946,90.540541
$620-$640,633.40,79.474551,82.120471,77.139934,87.468080,68.476495
$640-$660,650.25,77.023555,80.957446,66.701010,80.675217,53.717613

## Scores by School Size

* Perform the same operations as above, based on school size.

In [12]:
bins_size = [0,1000,2000,5000]
group_names_size = ["Small (<1000)","Medium (1000-2000)","Large (2000-5000)"]

scores_by_size = school_summary_2[["Total Students","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing"]]
scores_by_size["Total Students"] = pd.cut(scores_by_size["Total Students"], bins_size, labels=group_names_size, include_lowest=True)
scores_by_size = scores_by_size.groupby("Total Students")
scores_by_size.mean()

C:\Users\SageTeam\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Total Students,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type